.card-main{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    border: 2px white solid;
    margin: 20px;
    border-radius: 20px;
    transition: 500ms ease-in-out;
    justify-content: center;
    background-color: black;
}
.card-main:hover{
    transform: scale(1.1);
}
.image{
    height: 300px;
    margin: 20px;
    border-radius: 10px;
}
.typography-card{
    margin: auto;
    color: gray;
    text-decoration: underline;
    padding-bottom: 10px;
}